client/input_device_test
client/screen_test
client/packages
client/overlays/x86_64
client/overlays/x86

server/ipxe
server/package/srv/http/alpine/boot/x86/localhost.apkovl.tar.gz
server/package/srv/http/alpine/boot/x86_64/localhost.apkovl.tar.gz

.vscode